.cart{
    background-color: rgb(245, 209, 142);
    padding: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 10px;
    position: sticky;
    top: 0;
}

.cart p{
    font-size: 17px;
}